<nav class="glass-sidebar">
  <div class="sidebar-content">
    <h2>Glass Menu</h2>
    <ul class="sidebar-menu">
      <li><a routerLink="/dashborde/showcatigory" routerLinkActive="active">Show Category</a></li>
      <li><a routerLink="/dashborde/showproduct" routerLinkActive="active">Show Product</a></li>
      <li><a routerLink="/dashborde/category" routerLinkActive="active">Add Category</a></li>
      <li><a routerLink="/dashborde/product" routerLinkActive="active">Add Product</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
